.top a{
    text-decoration: none;
}

@media only screen 
and (min-width : 1309px) {
    html {
        background-color: white;
    }
    .header {
        font-family: 'Sacramento', cursive;
        font-size: 95px;
        text-align: left;
        margin-left: 20%;
        color: darkgreen;
        display: inline-block;
    }
    .top {
        display: inline;
        display: block;
        background-color: white;
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        height: 40px;
    }
    #resume {
        margin-left: 1%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        height: 35px;
    }
    #email {
        margin-left: 2%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        height: 35px;
    }
    #linkedin {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        height: 35px;
    }
    #blog {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        height: 35px; 
    }
    #sidebar {
        display: inline-block;
    }
    .intro {
        font-family: 'Indie Flower', cursive;
        font-size: 37px;
        margin-left: 38%;
    
    }
    .block1title {
        font-family: 'Indie Flower', cursive;
        font-size: 27px;
        margin-left: 25%;
    }
    .pic1 {
        max-width: 410px;
        max-height: 330px;
        width: auto;
        height: auto;
        display: inline-block;
        margin-left: 25%;
    }

    .content1 {
        display:none;

    }

    .content1.show {
        display: inline-block;
        vertical-align: top;
    }

    .me {
        font-family: 'Monda', sans-serif;
        font-size: 20px;
        margin-left: 10%;
        text-align: left;
        max-width: 630px;
        width:auto;
        margin-top: 0%;
    }

    .bold {
        color: darkgreen;
    }

    .block1 {
        vertical-align: middle;
    }

    .block2 {
        height: 310px;
    }

    .block2title {
        font-family: 'Indie Flower', cursive;
        display: block;
        font-size: 27px;
        margin-left: 52%;
        padding-top: 100px;
    }
    .pic2 {
        max-width: 410px;
        max-height: 309px;
        width: auto;
        height: auto;
        display: block;
        float: right;   
        margin-right: 25%;
        margin-top: 40px;
    }

    .content2 {
        display:none;

    }

    .content2.show {
        display: inline-block;
        vertical-align: top;
    }

    .hackathon {
        display: inline-block;
        font-family: 'Monda', sans-serif;
        font-size: 20px;
        margin-left: 30%;
        text-align: left;
        max-width: 860px;
        width:auto;
        text-align: left;
        margin-top: 0%;
    }
    .block3title {
        font-family: 'Indie Flower', cursive;
        font-size: 27px;
        margin-left: 25%;
    }
    .pic3 {
        max-width: 410px;
        max-height: 330px;
        width: auto;
        height: auto;
        display: inline-block;
        margin-left: 25%;
    }
    .content3 {
        display:none;

    }

    .content3.show {
        display: inline-block;
        vertical-align: top;
    }

    .travel {
        font-family: 'Monda', sans-serif;
        font-size: 20px;
        margin-left: 10%;
        text-align: left;
        max-width: 630px;
        width:auto;
        margin-top: 0%;
    }

    .block3 {
        vertical-align: middle;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1220px) 
and (orientation : landscape) {
    html {
        background-color: white;
    }
    .header {
        font-family: 'Sacramento', cursive;
        font-size: 105px;
        text-align: center;
        color: darkgreen;
        display: inline-block;
    }
    .top {
        display: block;
        background-color: white;
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        height: 45px;
    }
    #resume {
        margin-left: 1%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
    }
    #email {
        margin-left: 2%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
    }
    #linkedin {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
    }
    #blog {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
    }
    #sidebar {
        display: inline-block;
    }
    .intro {
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        margin-left: 38%;
       
    }
    .block1title {
        font-family: 'Indie Flower', cursive;
        font-size: 27px;
        text-align: center;
    }
    .pic1 {
        max-width: 410px;
        max-height: 330px;
        width: auto;
        height: auto;
        display: inline-block;
        margin-left: 5%;
    }
    
    .content1 {
        display:none;
    
    }
    
    .content1.show {
        display: inline-block;
        vertical-align: top;
    }
    
    .me {
        font-family: 'Monda', sans-serif;
        font-size: 15px;
        margin-left: 5%;
        text-align: left;
        max-width: 500px;
        width:auto;
        margin-top: 0%;
    }
    
    .bold {
        color: darkgreen;
    }
    
    .block1 {
        vertical-align: middle;
    }
    
    .block2 {
        height: 310px;
    }
    
    .block2title {
        font-family: 'Indie Flower', cursive;
        display: block;
        font-size: 27px;
        text-align: center;
        padding-top: 100px;
    }
    .pic2 {
        max-width: 410px;
        max-height: 200px;
        width: auto;
        height: auto;
        display: block;
        margin-top: 40px;
    }
    
    .content2 {
        display:none;
    
    }
    
    .content2.show {
        display: inline-block;
        vertical-align: top;
    }
    
    .hackathon {
        font-family: 'Monda', sans-serif;
        font-size: 15px;
        text-align: center;
        max-width: 500px;
        width:auto;
        margin-top: 0%;
        display: block;
        margin: 0 auto;
    }
    .block3title {
        font-family: 'Indie Flower', cursive;
        font-size: 27px;
        text-align: center;
    }
    .pic3 {
        max-width: 410px;
        max-height: 330px;
        width: auto;
        height: auto;
        display: inline-block;
        margin-left: 5%;
    }
    .content3 {
        display:none;
    
    }
    
    .content3.show {
        display: inline-block;
        vertical-align: top;
    }
    
    .travel {
        font-family: 'Monda', sans-serif;
        font-size: 15px;
        margin-left: 5%;
        text-align: left;
        max-width: 500px;
        width:auto;
        margin-top: 0%;
    }
    
    .block3 {
        vertical-align: middle;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1220px) 
and (orientation : portrait) {
    html {
        background-color: white;
    }
    .header {
        font-family: 'Sacramento', cursive;
        font-size: 130px;
        text-align: center;
        color: darkgreen;
        display: block;
    }
    .top {
        display: block;
        background-color: white;
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        height: 50px;
    }
    #resume {
        margin-left: 1%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
    }
    #email {
        margin-left: 2%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
    }
    #linkedin {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
    }
    #blog {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
    }
    #sidebar {
        display: inline-block;
    }
    .intro {
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        margin-left: 5%;
        text-align: center;
    }
    .block1title {
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        text-align: center;
        display: block;
    }
    .pic1 {
        max-width: 650px;
        max-height: 480px;
        width: 90%;
        height: 90%;
        display: block;
        margin: 0 auto;
    }

    .content1 {
        display:none;

    }

    .content1.show {
        display: block;
    }

    .me {
        font-family: 'Monda', sans-serif;
        font-size: 25.7px;
        text-align: center;
        max-width: 90%;
        width:auto;
        display: block;
        margin: 0 auto;
    }

    .bold {
        color: darkgreen;
    }

    .block1 {
        vertical-align: middle;
    }

    .block2 {
        height: 400px;
        display: block;
    }

    .block2title {
        font-family: 'Indie Flower', cursive;
        display: block;
        font-size: 30px;
        padding-top: 100px;
        text-align: center;
        display: block;

    }
    .pic2 {
        max-width: 650px;
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .content2 {
        display:none;

    }

    .content2.show {
        display: block;
    }

    .hackathon {
        font-family: 'Monda', sans-serif;
        font-size: 25.7px;
        text-align: center;
        max-width: 90%;
        width:auto;
        margin-top: 0%;
        margin: 0 auto;
    }
    .block3title {
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        text-align: center;
        display: block;
        padding-top: 65px;
    }
    .pic3 {
        max-width: 650px;
        max-height: 480px;
        width: 90%;
        height: 90%;
        display: block;
        margin: 0 auto;
    }
    .content3 {
        display:none;

    }

    .content3.show {
        display: block;
    }

    .travel {
        font-family: 'Monda', sans-serif;
        font-size: 25px;
        text-align: center;
        max-width: 670px;
        width:auto;
        margin-top: 0%;
        margin: 0 auto;
    }

    .block3 {
        vertical-align: middle;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-device-width : 670px) {
    html {
        background-color: white;
    }
    .header {
        font-family: 'Sacramento', cursive;
        font-size: 110px;
        text-align: center;
        color: darkgreen;
        display: block;
    }
    .top {
        display: block;
        background-color: white;
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        height: 45px;
    }
    #resume {
        margin-left: 1%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
    }
    #email {
        margin-left: 2%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
    }
    #linkedin {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
    }
    #blog {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        height: 35px; 
    }
    #sidebar {
        display: inline-block;
    }
    .intro {
        font-family: 'Indie Flower', cursive;
        font-size: 15px;
        margin-left: 5%;
        text-align: center;
    }
    .block1title {
        font-family: 'Indie Flower', cursive;
        font-size: 27px;
        text-align: center;
        display: block;
    }
    .pic1 {
        max-width: 500px;
        max-height: 430px;
        width: 90%;
        height: 90%;
        display: block;
        margin: 0 auto;
    }

    .content1 {
        display:none;

    }

    .content1.show {
        display: block;
    }

    .me {
        font-family: 'Monda', sans-serif;
        font-size: 26px;
        text-align: center;
        max-width: 90%;
        width:auto;
        display: block;
        margin: 0 auto;
    }

    .bold {
        color: darkgreen;
    }

    .block1 {
        vertical-align: middle;
    }

    .block2 {
        height: 400px;
        display: block;
    }

    .block2title {
        font-family: 'Indie Flower', cursive;
        display: block;
        font-size: 27px;
        padding-top: 100px;
        text-align: center;
        display: block;

    }
    .pic2 {
        max-width: 500px;
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-top: 90px;
    }

    .content2 {
        display:none;

    }

    .content2.show {
        display: block;
    }

    .hackathon {
        font-family: 'Monda', sans-serif;
        font-size: 26px;
        text-align: center;
        max-width: 90%;
        width:auto;
        margin-top: 0%;
        margin: 0 auto;
    }
    .block3title {
        font-family: 'Indie Flower', cursive;
        font-size: 27px;
        text-align: center;
        display: block;
        padding-top: 65px;
    }
    .pic3 {
        max-width: 500px;
        max-height: 430px;
        width: 90%;
        height: 90%;
        display: block;
        margin: 0 auto;
    }
    .content3 {
        display:none;

    }

    .content3.show {
        display: block;
    }

    .travel {
        font-family: 'Monda', sans-serif;
        font-size: 26px;
        text-align: center;
        max-width: 670px;
        width:auto;
        margin-top: 0%;
        margin: 0 auto;
    }

    .block3 {
        vertical-align: middle;
    }
}

/*ipad layout for laptop   */
@media only screen 
and (max-width : 1307px) {
    html {
        background-color: white;
    }
    .header {
        font-family: 'Sacramento', cursive;
        font-size: 130px;
        text-align: center;
        color: darkgreen;
        display: block;
    }
    .top {
        display: block;
        background-color: white;
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        height: 45px;
    }
    #resume {
        margin-left: 1%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        height: 35px;
    }
    #email {
        margin-left: 2%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        height: 35px;
    }
    #linkedin {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        height: 35px;
    }
    #blog {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        height: 35px; 
    }
    #sidebar {
        display: inline-block;
    }
    .intro {
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        margin-left: 5%;
        text-align: center;
    }
    .block1title {
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        text-align: center;
        display: block;
    }
    .pic1 {
        max-width: 650px;
        max-height: 480px;
        width: 90%;
        height: 90%;
        display: block;
        margin: 0 auto;
    }

    .content1 {
        display:none;

    }

    .content1.show {
        display: block;
    }

    .me {
        font-family: 'Monda', sans-serif;
        font-size: 20px;
        text-align: center;
        max-width: 90%;
        width:auto;
        display: block;
        margin: 0 auto;
    }

    .bold {
        color: darkgreen;
    }

    .block1 {
        vertical-align: middle;
    }

    .block2 {
        height: 400px;
        display: block;
    }

    .block2title {
        font-family: 'Indie Flower', cursive;
        display: block;
        font-size: 30px;
        padding-top: 100px;
        text-align: center;
        display: block;

    }
    .pic2 {
        max-width: 650px;
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .content2 {
        display:none;

    }

    .content2.show {
        display: block;
    }

    .hackathon {
        font-family: 'Monda', sans-serif;
        font-size: 20px;
        text-align: center;
        max-width: 90%;
        width:auto;
        margin-top: 0%;
        margin: 0 auto;
    }
    .block3title {
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        text-align: center;
        display: block;
        padding-top: 70px;
    }
    .pic3 {
        max-width: 650px;
        max-height: 480px;
        width: 90%;
        height: 90%;
        display: block;
        margin: 0 auto;
    }
    .content3 {
        display:none;

    }

    .content3.show {
        display: block;
    }

    .travel {
        font-family: 'Monda', sans-serif;
        font-size: 20px;
        text-align: center;
        max-width: 90%;
        width:auto;
        margin-top: 0%;
        margin: 0 auto;
    }

    .block3 {
        vertical-align: middle;
    }
}

@media only screen 
and (min-width : 1308px) 
and (max-width: 1717px){
    html {
        background-color: white;
    }
    .header {
        font-family: 'Sacramento', cursive;
        font-size: 95px;
        text-align: left;
        margin-left: 20%;
        color: darkgreen;
        display: inline-block;
    }
    .top {
        display: inline;
        display: block;
        background-color: white;
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        height: 40px;
    }
    #resume {
        margin-left: 1%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        height: 35px;
    }
    #email {
        margin-left: 2%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        height: 35px;
    }
    #linkedin {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        height: 35px;
    }
    #blog {
        margin-left: 2.5%;
        border: none;
        cursor: pointer;
        display: inline;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        height: 35px; 
    }
    #sidebar {
        display: inline-block;
    }
    .intro {
        font-family: 'Indie Flower', cursive;
        font-size: 37px;
        margin-left: 38%;
    
    }
    .block1title {
        font-family: 'Indie Flower', cursive;
        font-size: 27px;
        margin-left: 25%;
    }
    .pic1 {
        max-width: 410px;
        max-height: 330px;
        width: auto;
        height: auto;
        display: inline-block;
        margin-left: 15%;
    }

    .content1 {
        display:none;

    }

    .content1.show {
        display: inline-block;
        vertical-align: top;
    }

    .me {
        font-family: 'Monda', sans-serif;
        font-size: 20px;
        margin-left: 10%;
        text-align: left;
        max-width: 630px;
        width:auto;
        margin-top: 0%;
    }

    .bold {
        color: darkgreen;
    }

    .block1 {
        vertical-align: middle;
    }

    .block2 {
        height: 310px;
    }

    .block2title {
        font-family: 'Indie Flower', cursive;
        display: block;
        font-size: 27px;
        margin-left: 58%;
        padding-top: 100px;
    }
    .pic2 {
        max-width: 410px;
        max-height: 309px;
        width: auto;
        height: auto;
        display: inline-block;
        float: right;   
        margin-right: 18%;
        margin-top: 40px;
        margin-left: 0%;
    }

    .content2 {
        display:none;

    }

    .content2.show {
        display: inline-block;
        vertical-align: top;
        margin-right: 0%;
        width: 670px;
    }

    .hackathon {
        display: inline-block;
        font-family: 'Monda', sans-serif;
        font-size: 20px;
        text-align: left;
        margin-left: 15%;
        margin-top: 0%;
        position: inherit;
    }
    .block3title {
        font-family: 'Indie Flower', cursive;
        font-size: 27px;
        margin-left: 25%;
    }
    .pic3 {
        max-width: 410px;
        max-height: 330px;
        width: auto;
        height: auto;
        display: inline-block;
        margin-left: 15%;
    }
    .content3 {
        display:none;

    }

    .content3.show {
        display: inline-block;
        vertical-align: top;
    }

    .travel {
        font-family: 'Monda', sans-serif;
        font-size: 20px;
        margin-left: 10%;
        text-align: left;
        max-width: 630px;
        width:auto;
        margin-top: 0%;
    }

    .block3 {
        vertical-align: middle;
    }
}
