
.header {
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    text-align: center;
    display: block;
}
.section {
    background-color: white;
    color: #444;
    font-family: 'Monda', sans-serif;
    font-size: 25px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}
ul, ol {
    margin-left:0px;
   }
#panel1 {
    padding: 0 18px;
    background-color: white;
    display: none;
    font-family: 'Monda', sans-serif;
    font-size: 18px;
    text-align: center;
    list-style-position: inside;
}
#panel2 {
    padding: 0 18px;
    background-color: white;
    display: none;
    font-family: 'Monda', sans-serif;
    font-size: 18px;
    text-align: center;
    list-style-position: inside;
}
#panel3 {
    padding: 0 18px;
    background-color: white;
    display: none;
    font-family: 'Monda', sans-serif;
    text-align: center;
    font-size: 18px;
    list-style-position: inside;
}
.active, .section:hover {
    background-color: #eee;
}
.blogheader {
    font-family: 'Monda', sans-serif;
    font-size: 65px;
    display: block;
    text-align: center;
    color: darkgreen;
}
.body {
    font-family: 'Monda', sans-serif;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%
}
.date {
    font-family: 'Monda', sans-serif;
    display: block;
    text-align: center;
    color: darkgrey;
}